body {
    background-color: #212121;
    color: #fff;
    font-family: 'Tahoma';
}
h1{
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}
h1 a {
    text-decoration: none;
    color: #9c27b0;
}
h3 {
    text-align: center;
    font-size: 25px;
    color: #03a9f4;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 10px 0;
    background-color: #323232;
    padding: 15px;
    border-radius: 10px;
}
.js li {
    border-left: 4px solid #9c27b0;
}
.html li {
    border-left: 4px solid #03a9f4;
}
.css li {
    border-left: 4px solid #00bcd4;
}
.js, .html, .css {
    display: none;
}
.dropdown-button {
    cursor: pointer;
}
.dropdown-button.active + ul {
    display: block;
}
.dropdown-button.active + ul {
    display: block;
}
.dropdown-button:hover {
    background-color: #555;
}
.dropdown-button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}
.dropdown-button:hover {
    background-color: #555;
}
.dropdown-button.active + ul {
    display: block;
}
img {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    width: 300px;
}
h4{
    text-align: center;
}
#button{
    margin-top: 40px;
}
#log{
    display: none;
}